{% extends 'card_layout.html' %}
{% block icon %}fa-industry{% endblock %}
{% block title %}Companies{% endblock %}
{% block content %}
<b>Download for all companies</b>:
<a class="btn btn-primary-outline btn-sm" 
   href={{ url_for('send_contracts', output_format='mail') }}>
  full
</a>
<a class="btn btn-primary-outline btn-sm" 
   href={{ url_for('send_contracts', output_format='email') }}>
  contract
</a>
<a class="btn btn-primary-outline btn-sm" 
   href={{ url_for('send_contracts', output_format='tex') }}>
  source
</a>
<br/><br/>

<table class="table table-sm table-responsive">
  <thead>
    <tr>
      <th>Name & Address</th>
      <th>Representatives</th>
      <th>Booth</th>
      <th>Days</th>
      <th>Options</th>
      <th>Download</th>
    </tr>
  </thead>
  <tbody>
    {% for c in companies %}
    <tr>
      <td>
        {{ c.companyname }}<br/>
        {{ c.companyaddress|replace("\n", "<br/>")|safe }}<br/>
        {{ c.companycity }}<br/>
        {{ c.companycountry }}
      </td>
      <td>
        <b>Company:</b><br/> 
          {{ c.companyrepresentative}}<br/>
        <b>AMIV:</b><br/>
          {{ c.amivrepresentative }}
      </td>
      <td>{{ c.boothchoice }}</td>
      <td>{{ c.days }}</td>
      <td>
        {# Only display short names #}
        {{ c.first.name if c.first}}
        {{ c.business.name if c.business}}
        {{ c.media.name if c.media}}
      </td>
      <td>
        <a class="btn btn-primary-outline btn-sm"
           style="vertical-align=middle;"
           href="{{ url_for('send_contracts', output_format='mail', id=loop.index0) }}">
          full
        </a>
        <a class="btn btn-primary-outline btn-sm"
           style="vertical-align=middle;"
           href="{{ url_for('send_contracts', output_format='email', id=loop.index0) }}">
          contract
        </a>
        <a class="btn btn-primary-outline btn-sm"
           style="vertical-align=middle;"
           href="{{ url_for('send_contracts', output_format='tex', id=loop.index0) }}">
          source
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
