{% extends 'card_layout.html' %}
{% block icon %}fa-copy{% endblock %}
{% block title %}Output Format{% endblock %}
{% block content %}
<!-- Change output to mail -->
<a class="btn btn-primary-outline btn-sm
          {{ 'active' if output_format == 'mail' }}"
   href="{{ url_for('main') }}?output=mail"
   style="width: 6em;">
   Mail
 </a>
<p class="small"><i>
  Includes cover letter and contract in duplicate (.pdf)
</i></p>

<!-- Change output to email -->
<a class="btn btn-primary-outline btn-sm
          {{ 'active' if output_format=='email' }}"
   href="{{ url_for('main') }}?output=email"
   style="width: 6em;">
   E-Mail
 </a>
<p class="small"><i>
  No cover letter, single contract per company (.pdf)
</i></p>

<!-- Change output to soruce -->
<a class="btn btn-primary-outline btn-sm
          {{ 'active' if output_format=='tex' }}"
   href="{{ url_for('main') }}?output=tex"
   style="width: 6em;">
   Source
</a>
<p class="small"><i>
  Modify and compile manually (.tex)
</i></p>
{% endblock %}
